In [ ]:
import os
import pandas as pd

# create file path
CWD = os.getcwd()
PTH = f'{CWD}/Data Engineer Scraping test - 17-06-21/'

flights = pd.read_csv(f"{PTH}candidateEvalData/flights.csv")
airports = pd.read_csv(f"{PTH}candidateEvalData/airports.csv")
weather = pd.read_csv(f"{PTH}candidateEvalData/weather.csv")
airlines = pd.read_csv(f"{PTH}candidateEvalData/airlines.csv")

# Question 4 - Joins

# Task 1 : Describe inner join, left join, right join, full join.

1. Inner Join: Returns only the set of records that match in both tables.

2. Left Join: Returns all of the records from the left table and the set of records that match from the right table. Records that don't match in the right table will return null.

3. Right Join: Returns all of records in the right table and the set of records that match in the left table. Records in the left table that don't match will return null.

4. Full Join:  Returns all records from both left and right tables with matching records from both tables where they exist. Records in either table that don't match return null.

# Task 2 : Write the SQL to do the following:

1. Add full airline name to the flights dataframe and show the arr_time, origin, dest and the name of the airline.

Wasn't sure if you wanted actual SQL or the pandas DataFrame equivalent so I have provided both:

SQL:
SELECT arr_time, origin, dest, airlines.name
FROM flights, airlines
WHERE flights.carrier = airlines.carrier;

In [ ]:
# pandas:
df_1 = flights[['carrier', 'arr_time', 'origin', 'dest']]\
        .merge(airlines[['carrier', 'name']], on='carrier', how='inner')\
        .drop(columns='carrier')
df_1.head(20)

2. Filter resulting data.frame to include only flights containing the word JetBlue

SQL:
SELECT arr_time, origin, dest, airlines.name
FROM flights, airlines
WHERE flights.carrier = airlines.carrier
AND airlines.name LIKE 'JetBlue%';

In [99]:
# pandas
df_2 = df_1[df_1['name'].str.contains('JetBlue')]
df_2.head(10)

3. Summarise the total number of flights by origin in ascending.

I downloaded the full nycflights13_flights.csv for this as the one provided only has 20 records

SQL:
SELECT origin,
COUNT(origin) AS numFlights
FROM flights, airlines
WHERE flights.carrier = airlines.carrier
AND airlines.name LIKE 'JetBlue%'
GROUP BY origin
ORDER BY COUNT(origin) ASC

In [112]:
nycflights13 = pd.read_csv(f"{PTH}candidateEvalData/nycflights13_flights.csv")

In [115]:
nyc_df_1 = nycflights13[['carrier', 'arr_time', 'origin', 'dest']]\
            .merge(airlines[['carrier', 'name']], on='carrier', how='inner')\
            .drop(columns='carrier')

In [126]:
df_3 = nyc_df_1[nyc_df_1['name'].str.contains('JetBlue')]\
        .groupby('origin')\
        .agg(numFlights=('origin', 'count'))\
        .sort_values('numFlights').reset_index()

4. Filter resulting data.frame to return only origins with more than 10,000 flights.

SQL:
SELECT origin,
COUNT(origin) AS numFlights
FROM flights, airlines
WHERE flights.carrier = airlines.carrier
AND airlines.name LIKE 'JetBlue%'
GROUP BY origin
HAVING COUNT(origin) > 10000
ORDER BY COUNT(origin) ASC

In [ ]:
df_4 = df_3[df_3['numFlights'] > 10000]
df_4.style.hide_index()